<!DOCTYPE html>
<html>
    <style>
      .source
       {
           padding: 20px;
           margin: auto;
           width: 70%;
           display: relative;
       }
    </style>
    <head>
        <title>Primary Sources</title>
    </head>
    <body>
        <div class="source">
            <h3>What are primary sources?</h3>
            <p>Primary Sources are original artifacts or documents. They offer contemporary accounts from participants or people directly involved in an event.</p>
            <ul>
                <li>Use your Tertiary and secondary sources for leads to primary sources.</li>
                <li>Check the HMW LibGuides Tabs <a href= "https://iolani.libguides.com/c.php?g=315156&p=2105786" target="_blank">"Primary Sources,"</a><a href= "https://iolani.libguides.com/c.php?g=315156&p=4471303" target="_blank"> "US Primary Sources," </a><a href= "https://iolani.libguides.com/c.php?g=315156&p=4471310" target="_blank"> "More US Primary Sources" </a> .</li>
            </ul>
            <h3>Where to find primary sources?</h3>
            <table>
                <!-- Book Catalog for Upper School Library-->    
                <tr>
                    <td>
                        <img src="/img/logos/book.jpg" alt="Upper School Library" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://iolani.polarislibrary.com/Search/default.aspx?ctx=3.1033.0.0.2&type=Default">Book Catalog for the Upper School Library</a>
                        <p>Search by author, keyword, subject, or title of the book.</p>
                    </td>
                </tr>
                <!--Salem Press Online Collection-->
                <tr>
                    <td>
                        <img src="https://salempress.com//Media/SalemPress/widgets/salem_online_4.png" alt="Salem Press Online" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "https://online.salempress.com/">Salem Press Online</a>
                        <p>Primary source documents on Amercian and World History. With essays on selected current event topics.</p>    
                    </td>
                </tr>
                <!--Time Magazine Archive (EBSCO)-->
                <tr>
                    <td>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Time_Magazine_logo.svg/1024px-Time_Magazine_logo.svg.png" alt="Time Magazine" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "https://search.ebscohost.com/login.aspx?profile=ehost&defaultdb=tma&authtype=ip,uid">Time Magazine Archive (EBSCO)</a>
                        <p>Magazine articles from 1923 to 2000 on national and international current events, politics, sports, and entertainment.</p>    
                    </td>
                </tr>
                <!--MasterFILE Complete (EBSCO)-->
                <tr>
                    <td>
                        <img src="/img/logos/masterfileCOMPLETE.png" alt="MasterFILE Complete (EBSCO)" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://search.ebscohost.com/login.aspx?profile=ehost&defaultdb=f6h&authtype=ip,uid">MasterFILE Complete</a>
                        <p>Full text for 2,400+ magazines on a wide range of subject areas - politics. sports, education, business, science and much more.</p>    
                    </td>
                </tr>
                <!--New York Times-->
                <tr>
                    <td>
                        <img src="/img/logos/nytFinal.png" alt="New York Times" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://iolani.libguides.com/nytimes">New York Times</a>
                        <p>Click on link for instructions to create your personal account and search the Archive 1851 - present.</p>    
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>