<!DOCTYPE html>
<html>
    <style>
       .source
       {
           padding: 20px;
           margin: auto;
           width: 70%;
           display: relative;
       }
    </style>
    <head>
        <title>Secondary Sources</title>
    </head>
    <body>
        <div class="source">
            <h3>What are secondary sources?</h3>
            <p>Secondary sources address or analyze events, people, words, or topics.</p>
            <ul>
                <li>Provides background information, analysis, and unique perspectives.</li>
                <li>Check the bibliography for leads to primary and more secondary sources</li>
            </ul>
            <p>Examples of secondary sources...</p>
            <ul>
                <li>Newspaper articles</li>
                <li>Journal and magazine articles</li>
                <li>Books</li>
            </ul>
            <h3>Where to find secondary sources?</h3>
            <table>
                <!-- Book Catalog for Upper School Library-->    
                <tr>
                    <td>
                        <img src="/img/logos/book.jpg" alt="Upper School Library" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://iolani.polarislibrary.com/Search/default.aspx?ctx=3.1033.0.0.2&type=Default">Book Catalog for the Upper School Library</a>
                        <p>Search by author, keyword, subject, or title of the book.</p>
                    </td>
                </tr>
                <!--EBook Central (Proquest)-->
                <tr>
                    <td>
                        <img src="/img/logos/Ebook_Central.png" alt="Ebook Central" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "https://ebookcentral.proquest.com/lib/iolani-ebooks/home.action?ebraryDocId=null">Ebook Central</a>
                        <p>Ebook Central is an online collection of 70,000+ authoritative and copyrighted academic level electronic books (ebooks).</p>    
                    </td>
                </tr>
                <!--MasterFILE Complete (EBSCO)-->
                <tr>
                    <td>
                        <img src="/img/logos/masterfileCOMPLETE.png" alt="MasterFILE Complete (EBSCO)" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://search.ebscohost.com/login.aspx?profile=ehost&defaultdb=f6h&authtype=ip,uid">MasterFILE Complete</a>
                        <p>Full text for 2,400+ magazines on a wide range of subject areas - politics. sports, education, business, science and much more.</p>    
                    </td>
                </tr>
                <!--Solutions (ABC-CLIO)-->
                <tr>
                    <td>
                        <img src="//databases.abc-clio.com/assets/images/help/AllDatabases.jpg" alt="Solutions" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "//databases.abc-clio.com">Solutions (ABC-CLIO)</a>
                        <p>Search across all of a combination of our ABC-CLIO databases: American History, Daily Life, Geography, Ancient & Medieval, Modern, and Religions.</p>    
                    </td>
                </tr>
                <!--U.S. History in Context (GALE)-->
                <tr>
                    <td>
                        <img src="https://assets.cengage.com/gale/icons/whic-web.png" alt="US History in Context" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://infotrac.galegroup.com/itweb/hono17865?db=HistRC">U.S. History in Context (GALE)</a>
                        <p>People, events, and topics in United States History with reference books, academic journals, magazine and newspaper articles, primary sources, images, videos, audio files and links to vetted websites.</p>    
                    </td>
                </tr>
                <!--World History in Context (Gale)-->
                <tr>
                    <td>
                        <img src="https://assets.cengage.com/gale/icons/whic-web.png" alt="World History in Context (Gale)" style="width:200px;height:100px;margin-right:15px;float:left">
                    </td>
                    <td>
                        <a href= "http://infotrac.galegroup.com/itweb/hono17865?db=History">World History in Context (Gale)</a>
                        <p>People, events, and topics in World History with reference books, academic journals, magazine and newspaper articles, primary sources, images, videos, audio files and links to vetted websites.</p>    
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>