<!DOCTYPE html>
<html>
  <style>
    .tertiary
    {
      padding: 7px;
      font-size:30px;
      margin: auto;
      width: 60%;
      text-align: center;

    }
  </style>
  <head>
    <title>tertiarySources</title>
  </head>

  <body>
    <div style="padding:0px 350px 0px 350px;">
        <h3>What are tertiary sources?</h3>
        <ul>
          <li>
            <p>Tertiary sources generally provide an overview or summary of a topic, and may contain both primary and secondary sources. The information is displayed as entirely factual, and does not include analysis or critique.</p>
          </li>
          <li>
            <p>Can also be collections of primary and secondary sources, such as databases, bibliographies and directories.</p>
          </li>
          <li>
            <p>Great for background and understanding historical events, people, dates. Tertiary sources help you develop ideas and lead you to primary and secondary sources.</p>
          </li>
        </ul>
          <p>Examples of tertiary sources…</p>
        <ul>
          <li>Encyclopedias (may also be secondary)</li>
          <li>Almanacs</li>
          <li>Bibliographies</li>
          <li>Chronologies</li>
          <li>Dictionaries</li>
          <li>Directories</li>
          <li>Fact books</li>
          <li>Guidebooks</li>
          <li>Indexes, abstracts, bibliographies used to locate primary and secondary sources</li>
          <li>Manuals</li>
          <li>Textbooks (may also be secondary)</li>
        </ul>
      </br>  
      <h3>Where to find tertiary sources?</h3>
      <table>
          <tr>
              <td>
                <img src="/img/logos/BritAca.jpg" alt="Britannica" style="width:200px;height:100px;margin-right:15px;float:left">
              </td>
              <td>
                <a href= "https://academic.eb.com/levels/collegiate" target="_blank">Britannica</a> 
                <p>Encyclopedia articles for background information.</p>   
              </td>
        </tr>
        <tr>
            <td>
                <img src="/img/logos/book.jpg" alt="Upper School Library" style="width:200px;height:100px;margin-right:15px;float:left">
            </td>
            <td>
                <a href= "http://iolani.polarislibrary.com/Search/default.aspx?ctx=3.1033.0.0.2&type=Default" target="_blank">Book Catalog for the Upper School Library</a>
                <p>Search by author, keyword, subject, or title of the book.</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://assets.cengage.com/gale/icons/gvrl-web.png" alt="Gale Virtual Reference Library" style="width:200px;height:100px;margin-right:15px;float:left">
            </td>
            <td>
                <a href= "http://infotrac.galegroup.com/itweb/hono17865?db=GVRL" target="_blank">Gale Virtual Reference Library</a>
                <p>Access reference ebooks on environment, history, literature, medicine, music, people, and the sciences.</p>    
            </td>
        </tr>
      </table>
    </div>
  </body>

</html>
