<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright" style="font-family:Montserrat;">Iolani School Upper School Library {{ site.title }} {{ 'now' | date: "%Y" }}</div>
                    <div class="permissions" style="font-family:Montserrat;">Adapted from the UCLA Library WI+RE Site</div>
                </div>
                <br>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <p class="btn">
                            <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/us/" target="_blank"  aria-label="Creative Commons Attribution-NonCommercial-ShareAlike"><i class="fab fa-creative-commons  fa-3x"></i><i class="fab fa-creative-commons-by fa-3x"></i><i class="fab fa-creative-commons-nc fa-3x"></i><i class="fab fa-creative-commons-share fa-3x"></i></a>
                        </p>
                        <p style="font-family:Montserrat;">All content on this site is Creative Commons Attribution-NonCommercial-ShareAlike</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                        <div class=" col-xs-6">
                            <img src="{{site.baseurl}}/img/Iolani_Seal_4C.jpg" style="width:30%;height:30%;float:right;">
                        </div>
                        <div class=" col-xs-6" style="text-align:left; font:Montserrat; line-height:130%; color:#{{ site.data.template.color.secondary }}; font-size:14px;">
                        <br>
                            <div>Iolani School</div>
                            <div>Upper School Library</div>
                            <div>Sullivan Center Second Floor</div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </footer>