<!-- Navigation -->
<nav class="navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <button class="col-md-6 navbar-button" href="#">
                <img src="{{site.baseurl}}/img/LibraryHorizontal.png" style="height:50%; width:50%;">
        </button>
        
    </div>
    <!-- /.container-fluid -->
</nav>

<!--
    {% for page in site.pages %}
      {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
-->