<!-- Navigation -->
<nav class="navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <button class="col-md-4 col-xs-3 navbar-button navbar-shrink" target="_blank" onclick="window.open('https://iolani.libguides.com/uslibrary');">
            <img src="{{site.baseurl}}/img/LibraryHorizontal.png" style="height:auto; width:100%;">
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}">Home</a>
                </li>
            </ul>
        </div>

        
    </div>
    <!-- /.container-fluid -->
</nav>

<!--
    {% for page in site.pages %}
      {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
-->